.card {
  width: 30%;
  height: 90px;
  border: .8px solid lightgrey;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 1px 2px 3px grey;
  transition: all .4s;
}

.card:hover {
  box-shadow: 3px 5px 8px grey;
}

.card img {
  width: 100%;
  height: 90px;
}

@media screen and (min-width: 500px) {
  .card {
    width: 20%;
    height: 100px;
    margin-right: 10px;
   margin-bottom: 10px;
  }

  .card img {
    height: 100px;
  }
}

@media screen and (min-width: 700px) {
  .card {
    width: 15%;
    height: 130px;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .card img {
    height: 130px;
  }
}
