.game-body {
  display: relative;
  width: 100%;
  border: .5px solid transparent;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 0 !important;
}

.start-button {
  position: absolute;
  display: block;
  width: 30%;
  bottom: 20px;
  left: 32%;
  background-color: blue;
  border-radius: 20px;
  padding: 15px 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  opacity: .7;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

@media screen and (min-width: 500px) {
  .cards {
    margin-top: 20px;
  }
}
