.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.player-info > span {
  font-weight: bold;
  font-size: 14px;
  font-family: arial;
  color: white;
  line-height: 20px;
}

.player-info > span:first-child {
  align-self: flex-start;
}

.player-info > span:last-child {
  align-self: baseline;
}

.player-image img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid white;
  text-align: center;
}
